<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">XMeme</label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add-meme">Share Your Meme</a></li>
            <li><a href="/swagger-ui">Swagger Documentation</a></li>
        </ul>
    </nav>

    <!--Heading of error-->
    <h1 id="error">
        Error 404! Page Not Found :(
    </h1>
</body>

</html>