input[type=text],
input[type=url] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
}
    /* set a style for all buttons*/
     
button {
        background-color: rgb(83, 151, 172);
        color: white;
        padding: 15px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 20%;
}
    /*set styles for the cancel button*/
.signupbtn {
        float: left;
        width: 50%;
}
    /*add padding to container elements*/
     
.container {
        padding: 16px;
}
    /*clear floats*/
     
.clearfix::after {
        content: "";
        clear: both;
        display: table;
}

    /*styles for cancel button and signup button 
      on extra small screens*/
     
@media screen and (max-width: 300px) {
        .signupbtn {
            width: 100%;
    }
}